/* Estilos generales */
body {
    font-family: 'Arial', sans-serif;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/JBL-Logo.svg/1200px-JBL-Logo.svg.png");
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #443b3b;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    /* Box Model */
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #333;
}

.product {
    display: flex;
    align-items: center;
    margin-top: 20px;
    border-bottom: 1px solid #ddd;
    padding-bottom: 20px;
}

.product img {
    width: 200px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.product-info {
    flex: 1;
    padding-left: 20px;
}

.product-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    color: #333;
}

.product-description, .product-price, p, a {
    font-size: 16px;
    color: #666;
}

.product-price {
    font-size: 20px;
    color: #e74c3c;
}

/* Combined Selector para botones de compra y de información */
.buy-button:hover, 
.btn-info:hover {
    background-color: #ac1596;
}

.buy-button, 
.btn-info {
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/1/1e/JBL-Logo.svg/1200px-JBL-Logo.svg.png");
    border: none;
    color: rgb(186, 195, 12);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a {
    color: #3498db;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
.container {
    /* Tus estilos existentes */
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: #443b3b;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;

    /* Permitir redimensionamiento */
    resize: both;
    overflow: auto;
}
